<style>
       a{text-decoration: none}

        header{
            font-size: 26px;
            border-bottom: 2px solid #888;
            padding: 25px;
            color: #eeeeee;
        }

        body{
            text-align: center;
            font-family: Verdana;
            background-color:#1D1E33;
        }



        #titulo{
            
        }

        .unidad{
            border-radius: 15px;
            margin-top: 25px;
            background: #E2DFD8;
            width: 900px;
            margin-left: auto;
            margin-right: auto;
            padding: 25px;
        }
        .titulo_unidad{
            text-align: left;
            font-size: 30px;
        }
        .unidad ul{

            text-align: left;
            list-style: none;

        }
        .unidad li{

            padding-top: 8px;
            transition: background-color 0.5s ease-out;
        }
        .unidad li:hover{
            background-color: #767e89;
            transition: zoom;
        }
        .temas{
            font-size: 23px;
        }

    </style>